[alias]
  a = !git status -s | cut -c4- | fzf --height 60% --color=bw --reverse --border -m --preview 'git diff -- {}' | xargs -r git add
	s = status -s
	c = commit
	co = checkout
  com = !git for-each-ref --format='%(refname:short)' refs/heads | fzf --prompt "Checkout: " --height 60% --color=bw --reverse --border | xargs -r git checkout
	cm = commit -m
	t = touch
	last = show HEAD
	master = checkout master
	p = push -u
	w = !watch -c -n1 -x unbuffer git status -s
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s' --abbrev-commit --date=relative
	lb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s' --abbrev-commit --date=relative master..
	r = reset
	rh = reset --hard
	rs = reset --soft
	d = diff
[user]
	email = kellyjesse881@gmail.com
	name = Jesse Kelly
[push]
	default = current
[credential]
	helper = store
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[github]
	user = jessekelly881
	oauth-token = 9d9958c23655be9418557553dd370153d1ea95c6
