[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/jessekelly881/Emacs
[submodule ".password-store"]
	path = .password-store
	url = https://github.com/jessekelly881/pass
[submodule "docs/personal/accounting"]
	path = docs/personal/accounting
	url = https://github.com/jessekelly881/accounting
